.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon{
    height: 50px;
    width: 50px;
    background-image: url(/assets/fotologo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

#section-home {
    margin-left: 60px;
    margin-right: 60px
}
.judul-home>h1 {
    margin-left: 100px;
}

.materi-home>h1{
    position:absolute;
    top:50%;
    right: 50%;
    transform:translate(50%, -50%);
    color:white;
    font-size: 70px;
    margin-top: -5px;
}

.photo-banner{

    height: 500px;
    width: 100%;
    color: white;
    background: linear-gradient(rgb(42,0,42,0.8), rgb(142,42,72,0.8));
    background-image: url(/assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 70px;
}

#section-profil {
    margin-left: 60px;
    margin-right: 60px
}

.jelas-profil {
    display: flex;
}

.photo-profil {
    position: relative;
}

.profil-ogi>h1 {
    margin-left: 100px;
}
.judul-portfolio>h1 {
    margin-left:100px;
}
.judul-portfolio>h4 {
    text-align: center;
}
.judul-portfolio>p {
    text-align: center;
}

.figure-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    align-items: baseline;
}

.figure-project>figcaption {
    background-color: grey;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.figure-project>img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin: 15px;
    margin-left: 50px;
}
#section-message-us {
    margin-left:100px;
    margin-top:100px;
}

.message-container {
    display: flex;
}

#message-input {
    padding: 10px;
    padding-left: 100px
}

#name {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;
    margin-left:61px;
}

#birthdate {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;
}
#date-input {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;

}

#male{
    margin-left: 47px;
}

#male:checked {
    accent-color: black;
}

#female:checked {
    accent-color: black;
}

.pesan-jarak {
    margin-top: 12px;
}
#message {
    height: 100px;
    width: 304px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 105px;
}

#message-form>button {
    cursor: pointer;
    width: 415px;
    height: 30px;
    color: black;
    background-color: #cac4c4;
}

.right-message {
    border: 2px solid black;
    padding-left: 20px;
    width: 300px;
    height: 226px;
    margin-left: 200px;
    padding-top:10px;
}

.message-point {
    position: absolute;
}

footer>div {
    text-align: center;
    font-family: cursive;
    font-size: small;
}