@media only screen and (max-width: 600px){
    .main-header {
        flex-direction: column;
    }
    .main-nav {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .message-container {
        flex-direction: column;
    }
 
    
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* background-color:rgb(48, 43, 43); */
}

.logo-icon{
    height: 50px;
    width: 50px;
    background-image: url(/assets/fotologo.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 14px;
}

nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
}

#section-home {
    margin-left: 60px;
    margin-right: 60px
}
.judul-home>h1 {
    opacity: 1;
    transform: translateZ(0) scale(1);
    position: absolute;
    text-align: center;
    top:50%;
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    color:white;
    font-size: 70px;
    /* position: absolute;
    top:50%;
    right: 50%;
    transform:translate(50%, -50%);
    color:black;
    font-size: 70px;
    margin-top: -5px; */
}

.video-banner{
    height: 100vh;
    width: 100%;

    object-fit: cover;
    /* background: linear-gradient(rgb(42,0,42,0.8), rgb(142,42,72,0.8)); */
    /* background-image: url(/assets/background.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;  */
}

.jelas-profil {
    display: flex;
    justify-content: center;
}

.photo-profil {
    position: relative;
}
.photo-profil>img {
    width: 300px;
}

.desc-profil>img {
    height: 50px;
    width: 50px;
    display: inline-block;
}

.profil-ogi>h1 {
    margin-left: 100px;
}

#section-portfolio {
    background-color: grey;
}
.judul-portfolio>h1 {
    margin-left:100px;
}
.judul-portfolio>h4 {
    text-align: center;
}
.judul-portfolio>p {
    text-align: center;
}

.figure-project {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    justify-items: center;
    flex-direction: row;
}

.figure-project>figure {
    text-align: center;
}

.figure-project img {
    border-radius: 10px; /* Example: Adding rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Example: Adding a shadow */
    width: 100%; /* Makes images responsive by taking the full width of the container */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.figure-project img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
.message-container {
    display: flex;
    justify-content: center;
}


#name {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;
    margin-left:61px;
}

#birthdate {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;
}
#date-input {
    padding: 5px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 7px;

}

#male{
    margin-left: 47px;
}

#male:checked {
    accent-color: black;
}

#female:checked {
    accent-color: black;
}

.pesan-jarak {
    margin-top: 12px;
}

.judul-message {
    margin-left: 100px;
}
#message {
    height: 100px;
    width: 304px;
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 105px;
}

#message-form>button {
    cursor: pointer;
    width: 415px;
    height: 30px;
    color: black;
    background-color: #cac4c4;
}

.right-message {
    border: 2px solid black;
    padding-left: 20px;
    width: 300px;
    height: 226px;
    margin-left: 200px;
    padding-top:10px;
}

.message-point {
    position: absolute;
}

footer>div {
    text-align: center;
    font-family: cursive;
    font-size: small;
}